 @import url("fonts/hattori/hattori.css");
 @import url(fonts/roboto/roboto.css);
*{
    margin: 0;
    padding: 0;
}
body{
    background: #ffffff;
}
/*
  HEADER
*/
.feedback{
    width: 100%;
    height: 30px;
    background: #e1e1e1;
    min-width: 1024px;
}
.feedbackContent{
    width: 300px;
    float: right;
    margin: 5px 10% 0 0;
    color: #7a7a7a;
    display: flex;
    font-family: 'HattoriHanzoLight';
}
.feedbackContent p{
    
}
.feedbackContent a{
    color: #7a7a7a;
    
    
    
}
.feedbackContent img{
    margin: 1px 5px 0 5px;
    display: block;
    width: 19px;
    height: 14px
}


.header{
    width: 100%;
}
.header img{
    display: block;
    width: 100%;
    min-width: 1024px;
}

/*
  MENU
*/
.topMenu{
    width: 100%;
    background: #abcc26;
    min-width: 1024px;
    height: 50px;
}
.insideContent{
    width: 1024px;
    margin: auto;
    display: block;
    max-width: 1024px;
    min-width: 1024px; 
    font-family: 'HattoriHanzoLight';
}
.insideContent ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.3em;
}
.insideContent li{
    list-style: none;
    text-align: center;
   
}
#select_1{
    width: 270px;
}
#select_2{
    width: 142px;
}
#select_3{
    width: 220px;
}
#select_4{
    width: 163px;
}
#select_5{
    width: 114px;
}
#select_6{
    width: 115px;
}
.insideContent a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    border-bottom: 7px solid #abcc26;
     
}
.insideContent a:focus{
   
    border-bottom: 7px solid #fd8505;
}
.insideContent a:hover{
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

/*SIDEBAR*/
.sidebar{
    width: 100%;
    position: relative;
}
.upper_picture{
    position: relative;
    width: 100%;
    height: 462px;
    display: block;
}
.upper_picture img{
    position: absolute;
    width: 100%;
    height: 462px;
    display: block;
    min-width: 1024px;
    min-height: 462px;
}

/*FORM*/
.search{
    width: 100%;
    position: absolute;
    margin: -290px 0 0 0;
    min-width: 1024px;
    height: auto;
}
.search h1{
    width: 270px;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    color: #ffffff;
    font-family: 'Arial';
}
.search h2{
    width: 350px;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
    font-family: 'HattoriHanzoLight';
}
.formContent{
    width: 456px;
    margin: 0 auto;
    margin-top: 10px;
}
.searchForm input[type="text"]{
    width: 388px;
    border-radius: 5px;
    outline: none;
    font-size: 1.2em;
    padding: 10px 0 10px 12px;
    border: 1px solid #848DA1;
    color: #7a7a7a;
}
.searchForm input[type="image"]{
    margin: 0;
    position: absolute;
    height: 44px;
    margin: 0 0 0 6px;
    outline: none;
}

/*INFO*/
.info{
    position: relative;
    height: 200px;
    display: block;
    width: 100%;
    margin: 0 auto;
}
.infoContent{
    width: 800px;
    background: #fd8505;
    margin: 0 auto;
    margin-top: -40px;
    color: #ffffff;
    font-family: 'robotoregular';
    text-align: center;
    padding: 10px 5px 10px 5px;
}
.infoContent p{
    word-wrap: break-word;
}

/*CONTENT*/
.content{
    width: 1000px;
    position: relative;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
    /*TODO проверить размер на крличество контента*/
    min-height: 500px;
    
}

.joinContent{
    position: relative;
    width: 1000px;
    min-width: 1000px;
    max-width: 1000px;
    display: inline-block;
    margin: 0 auto;    
}
.joinContent h1{
    text-align: center;
    margin: 0 0 30px 0;
    color: #fd8505;
    font-family: 'robotoregular';
}

/*STEPONE*/
.stepOne{
    width: 35%;
    float: left;
    margin: 0 0 10px 40px;
    min-width: 450px;
    display: block;
}
.OnestepText{
    float: left;
    text-align: right;
    color: #7a7a7a;
    word-wrap: break-word;
}
.OnestepText h3{
    margin: 0 0 15px 0;
    color: #fd8505;
    font-size: 1em;
    font-family: 'robotoregular';
    word-wrap: break-word;
}
.OnestepImage{
    float: right;
}
/*STEPTWO*/
.stepTwo{
    width: 35%;
    float: right;
    margin: 0 40px 10px 0;
    min-width: 450px;
    display: block;
}
.TwostepImage{
    float: left;
    text-align: left;
}
.TwostepText{
    float: right;
    color: #7a7a7a;
    word-wrap: break-word;
}
.TwostepText p{
    text-align: left
    
    }
.TwostepText h3{
    margin: 0 0 15px 0;
    color: #fd8505;
    font-family: 'robotoregular';
    font-size: 1em;
    word-wrap: break-word;
    text-align: left;
}

/*services*/
.services{
   
    position: relative;
    width: 1000px;
    min-width: 1000px;
    max-width:  1000px;
    margin: 0 auto;
}
.services h1{
    text-align: center;
    margin: 30px 0 30px 0;
    color: #fd8505;
    font-family: 'robotoregular';
}
/*servicesOne*/
.servicesOne{
    width: 100%;
    display: inline-block;
    margin: 0 0 10px 0;
     
}
.servicesOneImage{
    float: left;
    margin: 0 0 0 60px;
    
}
.servicesOneText{
    text-align: left;
    float: right;
    color: #7a7a7a;
    margin: 0 40px 0 0;
}
.servicesOneText h3{
    color: #abcc26;
    font-size: 1.5em;
    font-family: 'robotoregular';
}
.servicesOneText ul{
    font-size: 1.2em;
    font-family: 'robotoregular';
    margin: 10px 0 0 20px;
    list-style-image: url(../images/li.gif);
}

/*servicesTwo*/
.servicesTwo{
    width: 100%;
    display: inline-block; 
    margin: 0 0 10px 0;
}
.servicesTwoText{
    float: left;
    text-align: left;
    color: #7a7a7a;
    margin: 0 0 0 40px;    
}
.servicesTwoText h3{
    color: #abcc26;
    text-align: right;
    font-size: 1.5em;
     font-family: 'robotoregular';
}
.servicesTwoImage{
    float: right;
    margin: 0 60px 0 0;
}
.servicesTwoText ul{
    font-size: 1.2em;
    font-family: 'robotoregular';
    margin: 10px 0 0 50px;
    list-style-image: url(../images/li.gif);
}

/*word-wrap: break-word;*/
/*lastNews*/
.lastNews{
    position: relative;
    width: 1000px; 
    margin: 0 auto;
    display: inline-block;
    
    margin-bottom: 100px;
}
.lastNews h1{
   
    text-align: center;
    margin: 30px 0 30px 0;
    color: #fd8505;
    font-family: 'robotoregular';
}
.lastNewsBox{
    width: 245px;
    display: inline-block;
    margin: 0 1px 0 1px;
    background: #abcc26;
}
.lastNewsContent{
    width: 230px;
    display: block;
    margin:  10px 8px 10px 8px ;
}
.lastNewsImage img{
    width: 225px;
}
.lastNewsText p{
    width: 100%;
    text-align: left;
    margin: 5px 0 0 3px;
    color: #ffffff;
    font-family: 'robotoregular';
    line-height: 1;
    font-size: 0.9em;
    word-wrap: break-word
}
.lastNewsText a{
    float: right;
    color: #ffffff;
    margin: 7px 8px 5px 0;
    font-family: 'robotoregular';
}

/*listAssociation*/
.pageNavigation{
    width: 100%;
    position: relative;
    
    font-family: 'robotoregular';
    color: #7a7a7a;
    height: 100px;
    
}
.pageNavigation p{
    position: absolute;
    text-align: left;
    margin: 0 0 0 15px;
    bottom: 12px;
    color: #7a7a7a;
}
.pageNavigation a{
    color: #7a7a7a;
}

.listAssociation{
   
    position: relative;
    width: 100%;
    
    height: 200px;
}
.listAssociation h1{
    font-size: 2.4em;
    font-family: 'HattoriHanzoLight';
    color: #fd8505;
    text-align: center;
    margin: 5px 0 30px 0;
}

.listAssociationSelect{
    width: 100%;
    color: #7a7a7a;
    
}
.listAssociationSelect p{
    text-align: left;
    margin: 0 0 25px 10px;
    font-family: 'robotoregular';
    font-size: 1.15em;
    min-width: 
    
}

.listAssociationSelect input{
    width: 300px;
    border-radius: 5px;
    outline: none;
    font-size: 1.2em;
    padding: 10px 0 10px 12px;
    border: 1px solid #848DA1;
    float: left;
    margin: 0 0 0 10px;
    color: #7a7a7a;
}

.listAssociationSelect button{
    float: left;
    border-radius: 5px;
    outline: none;
    
    
}
.listAssociationSelect img{
    width: 45px;
    height: 40px;
}

.map{
    width: 100%;
    position: relative;
    height: 524px;
    
     min-width: 1000px;
}

/*LIST AREAS*/
.listAreasContent{
     position: relative;
    width: 1000px;
    min-width: 1000px;
    max-width: 1000px;
    display: inline-block;
    margin: 0 auto;   
    
}
/*Left*/
.listAreasLeft{
    float: left;
    width: 50%;
    margin: 10px 0 20px 0;
    
}
.AreasLeftName h3{
    color: #abcc26;
    text-align: right;
    font-size: 1.3em;
    font-family: 'robotoregular';
    margin: 0 40px 15px 0;
    
}
.AreasLeftContent{
    text-align: right;
    color: #7a7a7a;
    font-family: 'robotoregular';
    font-size: 1.1em;
}
.AreasLeftContent p{
    margin: 0 40px 0 0;
    line-height: 1.5;
}
/*RIGHT*/
.listAreasRight{
    float: right;
    width: 50%;
    margin: 10px 0 20px 0;
}
.AreasRightName h3{
    color: #abcc26;
    text-align: left;
    font-size: 1.3em;
    font-family: 'robotoregular';
    margin: 0 0 15px 40px;
}
.AreasRightContent{
    text-align: left;
    color: #7a7a7a;
    font-family: 'robotoregular';
    font-size: 1.1em;
}
.AreasRightContent p{
    margin: 0 0 0 40px;
    line-height: 1.5;
}




/*FOOTER*/
footer{
    position: relative;
    background: #7a7a7a;
    width: 100%;
    height: 100px;
    display: block;
    min-width: 1024px;
    margin: 0;
}
.footer{
    position: absolute;
    width: 100%;
    height: 65px;
    margin: 17.5px 0 17.5px 0;
}
.footer p{
    color: #f0f0f0;
    text-align: center;
    font-family: 'HattoriHanzoLight';
    font-size: 1.14em;
}